.sidebar-chat-list-chat {
  position: fixed;
  width: 24%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 0 20px;
}

.header-chats {
  background-color: #f0f2f5;
  border-radius: 30px;
  height: 5.8vh;
  width: 40vh;
  top: 25px;
  position: relative;
}

.name-user-header-chat {
  height: 40px;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 2.5vh;
  font-weight: bold;
  left: 6vh;
  top: 1.5vh;
  position: absolute;
}

.section-message-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 69vh;
  padding-right: 0%;
}

.main-message-chat {
  display: flex;
  flex-direction: column;
}

.sidebar-messages-chat {
  position: fixed;
  width: 42.5vh;
  height: 73%;
  display: flex;
  flex-direction: column;
}

.form-chats {
  height: 8vh;
  position: fixed;
  display: block;
  bottom: 0;
  width: 50vh;
  display: flex;
  font-size: 1.5rem;
}

.form-button-message-chat {
  width: 5%;
  background-color: #db188a;
}

.input-message-chat {
  line-height: 1.5;
  width: 65%;
  background: #ffb1de;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  left: -1vh;
  position: absolute;
}

.send-button-message-chat {
  background-color: #db188a;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 100%;
  position: absolute;
  right: 6vh;
  top: 1vh;
}

.send-button-message-chat:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modalDiv-chat {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
}

.modal-chat {
  width: 45vh;
  height: 60vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  bottom: 0vh;
  right: 2vh;
  position: absolute;
}

.close-panel {
  position: absolute;
  right: 1vh;
  top: -2vh;
  border: 0;
  background-color: #fff;
}