.search-message {
  background-color: #f0f2f5;
  border-radius: 30px;
  height: 40px;
  border: none;
  width: 70%;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  top: 25px;
  left: 50px;
  position: relative;
}

.search:hover .search-message:hover {
  background-color: #e2e6eb;
}

.sidebar-chat-list {
  position: fixed;
  width: 24%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 0 20px;
}

.header-chat {
  background-color: #ffffff;
  border-radius: 30px;
  height: 5.8vh;
  width: 100%;
  top: 25px;
  position: relative;
}

.name-user-header {
  height: 40px;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  left: 60px;
  position: absolute;
}
 
.section-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 71vh;
}

.main-message {
  display: flex;
  flex-direction: column;
}

.sidebar-messages {
  position: fixed;
  width: 74%;
  height: 73%;
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 20px;
}

.form-chat {
  height: 8vh;
  position: fixed;
  display: block;
  bottom: 0;
  background-color: #e7e7e757;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.form-butto-message {
  width: 5%;
  background-color: #db188a;
}

.input-message {
  line-height: 1.5;
  width: 65%;
  background: #ffb1de;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
}

.send-button-message {
  background-color: #db188a;
  border: none;
  color: white;
  width: 74px;
  height: 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 100%;
}

.send-button-message:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.format-time-chat {
  font-size: 10px;
}

.format-hours-list {
  font-size: 13px;
  position: absolute;
  left: 80%;
  top: 35%;
}

.format-hours {
  font-size: 13px;
  position: absolute;
  left: 75%;
  top: 35%;

}

.parrafo-message {
  max-width: 500px;
  margin-bottom: 12px;
  margin-left: 10px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent .parrafo-message {
  color: white;
  background: #1492e676;
  align-self: flex-end;
}

.received .parrafo-message {
  background: #db188a8b;
  color: black;
}

.img-message {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.message-not-view {
  background-color: rgb(227, 242, 254);
}

.modalDiv {
  width: 74.2%;
  height: 92.3%;
  position: absolute;
  top: 7.7%;
  display: flex;
  justify-content: center;
  left: 25.7%;
  align-items: center;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
}