.fondo {
  width: 100%;
  height: 400px;
  display: flex;
}

.boton-circular-perfil {
  background-color: #a0a0a0;
  border-radius: 8vw;
  width: 15vw;
  height: 15vw;
  border: none;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 5.5%;
}

.circular-portada {
  width: 300px;
  height: 150px;
  background-size: cover;
  border-radius: 5%;
  margin: 0 auto;
}

.icon-perfil {
  width: 280px;
  height: 280px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.icon-perfil-setting {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ESTILO DEL DIV QUE CONTENTRÁ EL INPUT */
.upload-btn-wrapper {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: #000000;
}
.upload-btn-wrapper-gogo {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper-gogo input[type="file"] {
  font-size: 100px;
  position: absolute;
  width: 150px;
  left: -2rem;
  top: -1rem;
  opacity: 0;
  background-color: #000000;
}
.upload-btn-wrapper3-n {
  position: relative;
  display: inline-block;
  top:60px;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper3-n input[type="file"] {
  font-size: 100px;
  position: relative;
  left: 0;
  top: 70px;
  opacity: 0;
}
.boton-standar-rw3-1:hover{
  color:#1492e6;
}
.boton-standar-rw3-4:hover{
  color:#1492e6;
}
.upload-btn-wrapper3-1 {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper3-1 input[type="file"] {
  font-size: 100px;
  position: absolute;
  width: 8rem;
  height:2rem;
  left: -24.5rem;
  top: 8rem;
  opacity: 0;
  background-color: #000000;
}
.upload-btn-wrapper3-4 {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper3-4 input[type="file"] {
  font-size: 100px;
  position: absolute;
  width: 9rem;
  height:2rem;
  left: -25rem;
  top: 3rem;
  opacity: 0;
  background-color: #000000;
}
.upload-btn-wrapper4 {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper4 input[type="file"] {
  font-size: 100px;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  position: absolute;
  left: -25.7rem;
  background-color: #FF0096;
  top: -12.3rem;
  opacity: 0;
}
.upload-btn-wrapper4-1 {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper4-1 input[type="file"] {
  font-size: 100px;
  height: 144px;
  width: 265px;
  position: absolute;
  left: -28.8rem;
  background-color: #FF0096;
  top: -14.8rem;
  opacity: 0;
}
.upload-btn-wrapper2 {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper2 input[type="file"] {
  font-size: 100px;
  position: relative;
  left: -200px;
  top: 80px;
  width: 150px;
  opacity: 0;
}
.upload-btn-wrapper3 {
  position: relative;
  display: inline-block;
}
/* ESTILO DEL INPUT*/
.upload-btn-wrapper3 input[type="file"] {
  font-size: 100px;
  position: relative;
  left: -200px;
  top: 80px;
  width: 150px;
  opacity: 0;
}
/* ESTILO DEL BOTÓN */
.boton-standar-rw {
  margin: 5px;
  background-color: #ffffff;
  color: rgb(139, 139, 139);
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  transition: all 0.3s ease 0s;
  width: 12em;
  padding: 10px;
}
.boton-standar-rw3 {
  margin: 5px;
  background-color: #ffffff;
  color: rgb(139, 139, 139);
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  border:none;
  transition: all 0.3s ease 0s;
  width: 20em;
  padding: 10px;
}
.boton-standar-rw3-1 {
  margin: 5px;
  background-color: #ffffff00;
  color: #FF0096;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  border:none;
  top:8.5rem;
  left:-28rem;
  position: relative;

  transition: all 0.3s ease 0s;
  width: 20em;
  padding: 10px;
}
.boton-standar-rw3-4 {
  margin: 5px;
  background-color: #ffffff00;
  color: #FF0096;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  border:none;
  top:4rem;
  left:-28rem;
  position: relative;

  transition: all 0.3s ease 0s;
  width: 20em;
  padding: 10px;
}
.boton-standar-rw2 {
  margin: 5px;
  color: white;
  background-color: #FF0096;
  border-radius: 20px;
  font-weight: bold;
  border:none;
  letter-spacing: 1px;
  line-height: 15px;
  transition: all 0.3s ease 0s;
  width: 12em;
  padding: 10px;
}
.boton-standar-rw2-n {
  margin: 5px;
  color: white;
  background-color: #FF0096;
  border-radius: 20px;
  font-weight: bold;
  border:none;
  margin-left: 120px;
  position: relative;
  top:130px;
  letter-spacing: 1px;
  line-height: 15px;
  transition: all 0.3s ease 0s;
  width: 12em;
  padding: 10px;
}
/* ESTILO DEL BOTÓN CON HOVER DE MOUSE */
.boton-standar-rw:hover {
  color: white;
  background-color: #FF0096;
}

.title-course {
  width: 65vh;
}
.title-course2 {
  width: 10vh;
}
.linea-acostada-cursoN{
  width: 100%;
  position: relative;
  background-color: #d4d4d4;
  height: 1px;
  top:8rem;
}
.linea-acostada-cursoN2{
  width: 100%;
  position: relative;
  background-color: #d4d4d4;
  height: 1px;
  top:.7rem;
}
.title-course-3 {
  width: 50vh;
}

.site-course {
  width: 37vh;
}
.site-course2 {
  width: 17vh;
}

.visible-course {
  width: 15vh;
  height: 3vh;
  bottom: 5vh;
  left: 105vh;
}

.inp-course {
  width: 99%;
  height: 15vh;
  resize: none;
}

.upload-course {
  bottom: 16vh;
  left: 56vh;
  position: absolute;
}
.upload-course2 {
  bottom: 25vh;
  left: 18vh;
  position: absolute;
}

.upload-image-course {
  height: 240px;
  position: relative;
  z-index: -1;
}
.upload-image-course-2 {
  height: 597px;
  position: relative;
  top:-40px;
}

.image-course {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.send-course {
  width: 25px;
  bottom: 1vh;
  right: 1vh;
  position: absolute;
}
.send-course2 {
  width: 25px;
  right: 4vh;
  position: absolute;
  bottom:2rem;
}

.input-course {
  border-color: #e7e7e7;
  border-radius: 15px;
  width: 38vh;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 1rem;
  right: 4vh;
}
.input-course-2 {
  border-color: #e7e7e7;
  border-radius: 15px;
  width: 36vh;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 1rem;
}

.course-view-all {
  right: 5vh;
  position: absolute;
  top: 7.8vh;
  font-size: 1.7vh;
  cursor: pointer;
  color: #1492e6;
}

.course-view-all:hover {
  color: #1492e6c5;
}

.img-allPosts {
  width: 30px;
  height: 30px;
  padding: 1.5vh;
}

.view-button {
  font-size: 2vh;
  border: 0;
  display: flex;
  align-items: center;
  height: 2vh;
  width: 12vh;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.view-button:hover{
  filter:opacity(0.5);
}

.color-button-view {
  display: flex;
  align-items: center;
  background-color: #a2a2a22d;
}

.windows-options {
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 70px;
  top: 0;
  width: 50vw;
  height: 5vh;
}

.card-user {
  position:absolute;
  margin-left: 70px;
  margin-top:30px;
}