.card-notification {
    min-height: 6vh;
    padding: 1vh;
}

.card-notification:hover, .card-message:hover {
    filter: opacity(0.7);
    background-color: #e0e0e0;
    cursor: pointer;
}

.format-time {
    font-size: 12px;
    color: darkgrey;
}

.format-delete {
    font-style: italic;
    font-size: 14px;
    color: darkgrey;
}