.card-career {
    transition: 0.3s;
    width: 14vh;
    height: 3vh;
    border-radius: 8%;
    padding-top: 14px;
    color:#ff0096;
}

.card-career:hover {
    background-color: #ff009521;
    cursor: pointer;
}

.basicas{
    margin-right: 5px;
    margin-left: 5px;
}
.container-career {
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-selected {
    background-color: #ff0096;
    color:#fff;
    border-radius: 8%;
    width: 18vh;
    
}
