@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.button-options {
    position: absolute;
    left: 96%;
    top: 1.5%;
    border: 0;
    font-size: 2vh;
    transform: rotate(90deg);
}
.button-options:hover{
    filter: opacity(0.3);
}

.button-comments-options {
    transform: rotate(90deg);
    font-size: 2vh;
    background: #ffffff;
    border: 0;
}

.hashtag-post {
    color: #ff0096;
    font-size: 1.5vh;
    cursor: pointer;
}