.boton-circular {
  background-color: #f0f2f5;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: none;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 1rem;
  float: right;
}

.boton-circular-volteado {
  background-color: #f0f2f5;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}

.boton-circular-userCard {
  background-color: #f0f2f5;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  float: left;
  margin: 1vh;
}

.boton-circular-volteado-2 {
  background-color: #f0f2f5;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 15px;
  float: left;
}

.boton-circular-volteado-3 {
  background-color: #f0f2f5;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
}

.boton-circular-volteado-4 {
  background-color: #f0f2f5;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.boton-circular-volteado-5 {
  background-color: #f0f2f5;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 4%;
}

.boton-circular-volteado-6 {
  background-color: #f0f2f5;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 1%;
}

.boton-circular-volteado-4:hover {
  background-color: #e2e6eb;
}
.boton-circular{
  cursor: pointer;
}

.boton-circular:hover {
  background-color: #e2e6eb;
}

.boton-circular-volteado:hover {
  background-color: #e2e6eb;
}
.boton-circular-volteado-3:hover {
  background-color: #e2e6eb;
}
.boton-circular-volteado-2:hover {
  background-color: #e2e6eb;
}

.boton-cuadrado {
  width: 100%;
  background-color: #ffffff;
  border-width: 1px;
  height: 6vh;
  padding-left: 3vw;
  text-align: left;
  border-style: none;
}

.boton-cuadrado:hover {
  background-color: #e2e2e2;
  filter: opacity(.6);
}

.button-follow {
  background-color: #1492e6;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  border: none;
  width: 15%;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 100px;
  margin-left: 100px;
  width: 95%;
  margin-bottom: 1vh;
}

.button-follow:hover {
  color: #f0f2f5;
}

.button-join {
  background-color: #1492e6;
  border-radius: 10px;
  height: 40px;
  border: none;
  width: 15vh;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 1vh;
}

.button-join:hover {
  cursor: pointer;
  background-color: #ff0096;
  color: #f0f2f5;
}

.button-left {
  background-color: #ff0096;
  border-radius: 10px;
  height: 40px;
  border: none;
  width: 15vh;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 1vh;
}

.button-left:hover {
  cursor: pointer;
  background-color: #1492e6;
  color: #f0f2f5;
}
.button-option-course {
  left: 96%;
  top: 1.5%;
  transform: rotate(90deg);
  width: 3vh;
  height: 3vh;
  font-size: 2vh;
  border: 0;
  background-color: #fff;
}

.button-new-course {
  width: 20px;
  height: 20px;
  right: 3vh;
  top: 1vh;
  position: relative;
}

.button-message {
  background-color: #ff0096;
  border-radius: 10px;
  height: 40px;
  border: none;
  width: 15%;
  font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 100px;
  margin-left: 100px;
  width: 95%;
}

.button-message:hover {
  color: #f0f2f5;
}