header {
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body{
    background-color: #F0F2F5;
    width: 100%;
    height: 36rem;
}

.logo-link{
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #1492E6;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1rem;
}
a:Hover{
    color: #FF0096;
}
.button-shape{
    background-color: #1492E6;
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 9%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    float: right;
}
.button-without-background{
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 9%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #FF0096;
    font-size: 17px;
    font-weight: bold;
    float: right;
    margin-left: 1rem;
}
.boton-sin-fondo{
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 50%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #FF0096;
    font-size: 15px;
    font-weight: bold;
    margin-left: 100px;

}
.button-without-background:hover{
    color: #1492E6;
}
.boton-sin-fondo:hover{
    color: #1492E6;
}
.image-cucei{
    width: 980dp;
    margin-left: 100px;
    padding-top: 50px;
}
.button-HOY{
    background-color: #FF0096;
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 15%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
    position: absolute;
    left: 0;
    top: 65%;
}
.button-HOY:hover{
    background-color: #db188a;
    color: #F0F2F5;
}

.button-shape:hover{
    background-color:#2a81bb;
    color: #F0F2F5;
}
.linea{
    width: 1px;
    float: right;
    background-color: #d4d4d4;
    height: 40px;
    margin-right: 2rem;
}

.linea-acostada{
    width: 100%;
    float: right;
    background-color: #d4d4d4;
    height: 1px;
}

.boton-google{
    background-color: #EEEEEE;
    border-radius: 15px;
    height: 50px;
    border: none;
    width: 350px;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.google-icon{
    position:absolute;
    width: 25px;
    left: 80px;
    top: 155px;
}
.eye-icon-2{
    position:absolute;
    width: 25px;
    left: 320px;
    top: 290px;
    background: none;
    border: none;
    color: #6B6B6B;
}

.eye-icon{
    position:absolute;
    width: 25px;
    left: 320px;
    top: 230px;
    background: none;
    border: none;
    color: #6B6B6B;
}
.boton-correo{
    background-color: #1492E6;
    border-radius: 15px;
    height: 50px;
    border: none;
    width: 350px;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;

}

.boton-crea{
    background-color: #FF0096;
    border-radius: 15px;
    height: 50px;
    border: none;
    width: 350px;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.aviso-privacidad{
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #5D5858;
    font-size: 12px;
    text-align: center;
}

input{
    outline: none;
    border-radius: 10px;
    border: 1px solid #A2A2A2;
    height: 40px;
    width: 310px;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    
}
.input-type{
    border-color: #e7e7e7;
    border-radius: 15px;
    width: 370px;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    margin-top: 1rem;
}
