
.search{
  background-color: #F0F2F5;
    border-radius: 30px;
    height: 40px;
    border: none;
    width: 50%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    top: 15px;
    left: 250px;
    position: absolute;
}
.search:hover{
  background-color: #e2e6eb;
}

.search-input-2:hover{
  background-color: #e2e6eb;
}
.search-input{
  position: absolute;
  background: none;
    height: 40px;
    border: none;
    width: 80%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    left: 30px;
    bottom: 0px;
    
}

.search-input-2{

  background-color: #F0F2F5;
  border-radius: 30px;
  height: 5%;

    border: none;
    width: 42%;
    font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 16%;
    left: 29%;
    padding-right: 30%;

}

.search-icon{
  position:absolute;
  width: 25px;
  background: none;
  border: none;
  color: #6B6B6B;
  left: 30px;
  top: 8px;
}

.search-icon-2{
  width: 25px;
  background: none;
  border: none;
  color: #6B6B6B;
  position: absolute;
  top: 16%;
  left: 31%;
}

.search-imag{
  width: 20px;
}
.search-input{
  outline: none;
}

.boton-circular{
  background-color: #F0F2F5;
  border-radius: 25px;
  width:50px;
  height:50px;
  border: none;
  font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 1rem;
  float: right;
}
.boton-circular-volteado{
  background-color: #F0F2F5;
  border-radius: 25px;
  width:50px;
  height:50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-left: 2rem;
  float: left;
}

.boton-circular-volteado-2{
  background-color: #F0F2F5;
  border-radius: 25px;
  width:50px;
  height:50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 15px;
  float: left;
}

.boton-circular-volteado-3{
  background-color: #F0F2F5;
  border-radius: 20px;
  width:40px;
  height:40px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
}

.boton-circular-volteado-4{
  background-color: #F0F2F5;
  border-radius: 25px;
  width:50px;
  height:50px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 20px;
}
.boton-circular-volteado-5{
  background-color: #F0F2F5;
  border-radius: 40px;
  width:80px;
  height:80px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 4%;
}
.boton-circular-volteado-4:hover{
  background-color: #e2e6eb;
}
.name{
  position: absolute;
  top: 5px;
  left: 100px;
}
.boton-circular:hover{
  background-color: #e2e6eb;
}

.boton-circular-volteado:hover{
  background-color: #e2e6eb;
}
.boton-circular-volteado-3:hover{
  background-color: #e2e6eb;
}
.boton-circular-volteado-2:hover{
  background-color: #e2e6eb;
}

.icon{
  width: 20px;
}
.icon-2{
  width: 20px;
  right: 11vw;
  position: absolute;
}
.margins{
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.star{
  width: 25px;
}



.inputCom{
  outline: none;
  border-radius: 30px;
  border: 1px solid #A2A2A2;
  height: 40px;
  width: 80%;
  font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 5%;
}

.inputCom-2{
  outline: none;
  border-radius: 30px;
  border: 1px solid #A2A2A2;
  height: 40px;
  width: 31vw;
  font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  top: 82vh;
  left: -1vw;
}

.boton-cuadrado{
  width: 13vw;
  background-color: #ffffff;
  border-width: 1px;
  height: 4vh;
  padding-left: 3vw;
  text-align: left;
  border-style: none;
}
.boton-cuadrado:hover{
  background-color: #e2e2e2;
}
.send{
  width: 25px;
  position: absolute;
  right: 9%;
  top: 90%;
}
.p-1{
  padding: 4%;
}

.send-2{
  width: 25px;
  position: absolute;
  top: 84.5vh;
  left: 30vw;
}
.titulo{
  float: right;
  margin-left: 10px;
}
.panelDerecho{
  position: absolute;
  top: 0;
  right: 18vw;
}

.linea-acostada-2{
  width: 46.2%;
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: #d4d4d4;
  height: 1px;
}

.linea-acostada-3{
  width: 46.2%;
  position: absolute;
  top: 67vh;
  right: 0px;
  background-color: #d4d4d4;
  height: 1px;
}


.messangerSinFondo-2{
  border: none;
  width: 35px;
  float: right;
  background-color: #ffffff;
  color: #ffffff;
}

.sinF{
  width: 25px;
}
.screen{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100;
  background-color: #000000;
} 
.windows{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 1%; 
  box-shadow: 2px 2px 10px  rgba(105, 100, 100, 0.3);

  top: 0;
  width: 50vw;
  height: 10vh;
}
.wrapper{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.inp{
  border: none;
  outline:none;
  position: relative;
  width: 95%;
  height: 15vh;
  resize:none;
}
.inp::placeholder {
  font-size: 1em;
  font-family: 'Segoe UI Emoji', Tahoma, Geneva, Verdana, sans-serif;
}